* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black-color: #000000;
  --gray-color: #484848;
  --gray-color-light: #48484852;
  --white-color: #ffff;
  --whiteDark-color: #fafafa;
  --BlueLighter-Color: #5b86e5;
}
body {
  width: 100%;
  height:100vh;
  animation: show 1s forwards;
}
.Head-Top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 80px;
  opacity: 0;
  animation: show 1s forwards;
  > .icon-Text {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    > h2 {
      font-family: Volkhov;
      color: var(--gray-color);
      font-size: 52px;
      font-weight: lighter;
    }
  }

  > .Menu {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      li {
        list-style: none;
        > a {
          text-decoration: none;
          font-family: Roboto;
          color: var(--gray-color);
          text-transform: capitalize;
          font-size: 15px;
          transition: 0.4s;
          &:hover {
            color: var(--black-color);
          }
        }

        .Bt-Menu {
          width: 154px;
          height: 57px;
          border-radius: 10px;
          background-color: var(--black-color);
          color: var(--white-color);
          border: none;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.479);
          transition: 0.4s;
          cursor: pointer;
          &:hover {
            transform: translateY(-5px);
          }
          > a {
            font-family: Roboto;
            font-size: 15px;
            text-decoration: none;
            color: var(--white-color);
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
/* ///////////////////////End Header /////////////////////// */
.Collection {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  padding: 0 80px;
  margin: 50px 0;
  gap: 20px;

  > .Item-1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(../img/Picture/collection/image\ 277.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* /////////////////// */
  > .Item-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    > .pic-Collection-1 {
      width: 100%;
      height: 20%;
      border-radius: 10px;
      background-image: url(../img/Picture/collection/image\ 276.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
    > .Text-col {
      width: 100%;
      height: 60%;
      text-transform: uppercase;
      font-family: Poppins;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;

      > h1 {
        font-size: 90px;
        color: var(--gray-color);
      }
      > h2 {
        font-size: 180px;
        color: transparent;
        -webkit-text-stroke: 1px var(--black-color);
        text-decoration: none;
        margin: -70px 0;
      }
      > h4 {
        font-size: 20px;
        color: var(--gray-color);
        font-weight: 300;
      }

      > .bt-col {
        width: 180px;
        height: 50px;
        border-radius: 10px;
        background-color: var(--black-color);
        border: none;
        margin-bottom: 30px;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          transform: translateY(-5px);
        }

        > a {
          text-decoration: none;
          color: var(--white-color);
          font-family: Poppins;
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }
    > .pic-Collection-2 {
      width: 100%;
      height: 20%;
      border-radius: 10px;
      background-image: url(../img/Picture/collection/image\ 279.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  /* ////////////// */
  > .Item-3 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(../img/Picture/collection/image\ 278.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
/* ///////////////end sec1 ////////////////////// */

.Branding {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 80px;
  margin: 50px 0;
  > div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.4s;
    &:hover {
      transform: translateY(-10px);
    }
    > img {
      object-fit: cover;
    }
  }
}
/* /////////////////////swc2/////////////////////// */
.Delay {
  width: 100%;
  height: 100vh;
  padding: 0 80px;
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  > .Text-Sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    > h3 {
      font-family: Volkhov;
      font-size: 47px;
      font-weight: lighter;
      color: var(--gray-color);
      text-transform: capitalize;
    }
    > p {
      font-family: Roboto;
      font-size: 15px;
      color: var(--gray-color);
      width: 400px;
    }
    > button {
      width: 200px;
      height: 50px;
      background-color: var(--black-color);
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.473);
      border: none;
      margin: 20px 0;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        transform: translateY(-5px);
      }
      > a {
        color: white;
        text-decoration: none;
        font-family: Roboto;
        font-size: 20px;
        text-transform: capitalize;
      }
    }
    > .Free-shope {
      > h4 {
        font-family: Roboto;
        font-size: 30px;
        margin: 20px 0;
        font-weight: bold;
      }
      > .number {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        > .time-box {
          text-align: center;
          font-size: 40px;
          font-family: Oxanium;
          > .value {
            width: 70px;
            height: 50px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.473);
            border-radius: 10px;
          }
          > .lable {
            font-size: 25px;
          }
        }
      }
    }
  }

  /* //////////////////////////////////// */
  > .slider {
    width: 100%;
    height: 100%;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    
    > figure {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      &:nth-of-type(1) {
        animation: img1 linear infinite 15s;
      }
      &:nth-of-type(2) {
        animation: img2 linear infinite 15s;
      }
      &:nth-of-type(3) {
        animation: img3 linear infinite 15s;
      }
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      > figcaption {
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        color: var(--white-color);
        background-color: var(--gray-color-light);
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: capitalize;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s all;
        opacity: 0;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}
/* ////////////////////////////////endsec3///////////////////////////////// */

.container {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.849);
  overflow: hidden;
  padding: 20px 0;
  .scroll {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite alternate;
    padding: 0 80px;
    margin: 50px 0;
    &:hover {
      animation-play-state: paused;
    }
    > .card {
      width: 400px;
      height: 500px;
      background-color: var(--white-color);
      color: var(--white-color);
      border-radius: 20px;
      font-size: 25px;
      margin: 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      padding: 30px;
      transition: 0.4s;
      &:hover {
        transform:scale(1.08);
      }

      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        cursor: pointer;
      }
      > figcaption {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0px;
        color: var(--black-color);
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: capitalize;
        font-size: 20px;
        transition: 1s all;
        padding: 20px 0;
        font-family: Poppins;
        display: flex;
        flex-direction: column;
        > span {
          font-size: 15px;
          color: var(--gray-color);
        }
        > p {
          font-weight: 400;
          font-size: 30px;
        }
        > h5 {
          font-size: 30px;
        }
        > .Bt-card {
          width: 100%;
          height: 50px;
          padding: 20px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: var(--black-color);
          color: var(--white-color);
          border-radius: 20px;
          font-family: Poppins;
          font-size: 20px;
          cursor: pointer;
          border: none;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.473);
          transition: 0.4s;
          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}
/* ///////////////////////end sec4///////////////////// */

.Women-Collection {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  > figure {
    width: 60%;
    height: 100%;
    overflow: hidden;
    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  > div {
    width: 40%;
    height: 100%;
    font-family: Poppins;
    padding: 50px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    > p {
      font-size: 15px;
      color: var(--gray-color);
    }
    > h3 {
      font-family: Volkhov;
      font-size: 50px;
      color: var(--gray-color);
      font-weight: 400;
    }
    > a {
      font-size: 15px;
      color: var(--black-color);
    }
    > h5 {
      font-size: 30px;
    }
    > .Bt-woman {
      width: 200px;
      height: 50px;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: var(--black-color);
      color: var(--white-color);
      border-radius: 20px;
      font-family: Poppins;
      font-size: 20px;
      cursor: pointer;
      border: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.473);
      transition: 0.4s;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
/* ////////////////////sec5/////////////////////// */
.Trust-Collection {
  width: 100%;
  height: 100px;
  padding: 0 80px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    font-family: Poppins;
    color: var(--gray-color);
  }
}
/* //////////////////////endsec6/////////////////// */
.Follow-US {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  > .Text {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
    color: var(--gray-color);
    gap: 20px;
    > h3 {
      font-size: 30px;
      font-weight: 400;
      font-family: Volkhov;
    }
    > p {
      width: 800px;
      text-align: center;
    }
  }
  > .slider {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    > figure {
      width: 100%;
      height: 100%;
      padding: 5px;
      border-radius: 10px;
      overflow: hidden;
      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: 0.4s ease-in-out;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}
/* /////////////////////////////////////////////// */

.Subscribe {
  width: 100%;
  height: auto;
  background-color: var(--whiteDark-color);
  display: grid;
  grid-template-columns: 0.5fr 1.3fr 0.5fr;
  padding: 40px 20px;
  
    
  > figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
    }
  }
  > .text-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text-sub {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      color: var(--gray-color);
      > h3 {
        font-family: Volkhov;
        font-size: 35px;
      }
      > p {
        font-size: 20px;
        font-family: Roboto;
        width: 500px;
        text-align: left;
      }
      > span {
        font-family: Roboto;
        font-size: 15px;
      }
      > .Bt-Sub {
        width: 200px;
        height: 50px;
        background-color: var(--black-color);
        border-radius: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.473);
        border: none;
        margin: 20px 0;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
          transform: translateY(-5px);
        }
        > a {
          color: white;
          text-decoration: none;
          font-family: Roboto;
          font-size: 15px;
          text-transform: capitalize;
        }
      }
    }
  }
}
footer {
    width:100%;
    height:auto;
    padding:20px 0;
  > .logo-li {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    > h3 {
      width: 30%;
      height: 100%;
      font-family: Volkhov;
      color: var(--gray-color);
      font-size: 30px;
      font-weight: lighter;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      > a {
        text-decoration: none;
        color: var(--gray-color);
        font-family: Roboto;
        font-size: 15px;
        transition: 0.4s;
        &:hover {
          color: var(--black-color);
        }
      }
    }
  }
  > .copy-right {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 15px;
    color: var(--gray-color);
  }
}

/* animation////////////////////////////////// */

@keyframes img1 {
  0%,
  31% {
    left: 0;
  }
  35% {
    left: 100%;
  }
  35.0000000001%,
  96% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes img2 {
  0%,
  31% {
    left: -100%;
  }
  35%,
  64% {
    left: 0;
  }
  68% {
    left: 100%;
  }
  68.00000001%,
  100% {
    left: -100%;
  }
}

@keyframes img3 {
  0%,
  64% {
    left: -100%;
  }
  68%,
  96% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ///////////////////// */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /SignIn/ */
.box-sign-in {
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  > .SignIn {
    width:100%;
    height:100%;
    background-color: var(--whiteDark-color);
    box-shadow: 0 4px 4px 2px var(--gray-color);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > .picture {
      width: 45%;
      height: 100%;
      background-image: url(../img/Picture/login/image/sign-in.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }
    > .list-Sign-In {
      width: 55%;
      height: 100%;
      padding: 30px;
      > .text-list {
        width: 100%;
        height: 100%;
        > .text {
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: space-between;
          align-items: self-start;
          flex-direction: column;
          padding: 0 15px;
          color: var(--gray-color);
          font-family: Volkhov;
          > h3 {
            font-size: 50px;
            font-weight: 400;
          }
          > p {
            font-size: 20px;
            font-weight: 400;
          }
        }
        > .sign-By {
          width: 100%;
          height: 10%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 5px;
          > .Bt-Sign {
            width:100% !important;
            height: 100%;
            border: 1px solid var(--BlueLighter-Color);
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: Poppins;
            color: black;
            border-radius: 10px;
            background-color: var(--whiteDark-color);
            > span {
              display: flex;
              justify-content: center;
              align-items: center;
              > img {
                transition: 0.4s ease-in-out;
              }
              &:hover {
                > img {
                  transform: translateY(-5px);
                }
              }
            }
          }
        }
        > .text-Or {
          width: 100%;
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          font-family: Poppins;
          font-weight: bold;
          color: var(--gray-color);
        }
        > .input-text {
          width: 100%;
          height: 30%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          gap: 20px;
          > .type-In {
            width: 80%;
            height: 50px;
            border: none;
            outline: none;
            border-bottom: 2px solid var(--gray-color);
            border-radius: 10px;
            padding: 5px;
            transition: 0.4s ease-in-out;
            &:focus {
              border-bottom: 2px solid var(--BlueLighter-Color);
            }
          }
        }
        > .input-button {
          width: 100%;
          height: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          * {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: Poppins;
          }
          > .Bt-send {
            width: 80%;
            height: 50px;
            border: 1px solid var(--black-color);
            border-radius: 10px;
            background-color: var(--whiteDark-color);
            color: var(--black-color);
            transition: 0.4s ease-in-out;
            &:hover {
              background-color: var(--black-color);
              color: var(--white-color);
            }
          }

          > .Bt-Rigister {
            width: 80%;
            height: 50px;
            border: 1px solid var(--BlueLighter-Color);
            background-color: var(--whiteDark-color);
            border-radius: 10px;
            color: var(--BlueLighter-Color);
            transition: 0.4s ease-in-out;
            &:hover {
              background-color: var(--BlueLighter-Color);
              color: var(--white-color);
            }
          }
          > .txt-frogetpass {
            width: 80%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 15px;
            > a {
              color: var(--BlueLighter-Color);
            }
          }
        }
      }
    }
  }
}
/* ////end//////// */
/* /signUp/ */
.box-sign-Up {
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  > .SignUp {
    width: 90%;
    height: 90%;
    background-color: var(--whiteDark-color);
    box-shadow: 0 4px 4px 2px var(--gray-color);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > .picture {
      width: 45%;
      height: 100%;
      background-image: url(../img/picture/login/image/sign-up.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }
    > .list-Sign-Up {
      width: 55%;
      height: 100%;
      padding: 30px;
      > .text-list-Up {
        width: 100%;
        height: 100%;
        > .text-Up {
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: space-between;
          align-items: self-start;
          flex-direction: column;
          padding: 0 15px;
          color: var(--black-color);
          font-family: Volkhov;
          > h3 {
            font-size: 50px;
            font-weight: 400;
          }
          > p {
            font-size: 20px;
            font-weight: 400;
          }
        }
        /* ///////////////// */
        > .sign-By-Up {
          width: 100%;
          height: 10%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 5px;
          > .Bt-Sign-Up {
            width: 300px;
            height: 100%;
            border: 1px solid var(--BlueLighter-Color);
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: Poppins;
            color: black;
            border-radius: 10px;
            background-color: var(--whiteDark-color);
            > span {
              display: flex;
              justify-content: center;
              align-items: center;
              > img {
                transition: 0.4s ease-in-out;
              }
              &:hover {
                > img {
                  transform: translateY(-5px);
                }
              }
            }
          }
        }
        /* ////////////// */
        > .text-Or-Up {
          width: 100%;
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          font-family: Poppins;
          font-weight: bold;
          color: var(--gray-color);
        }
        /* //////////// */
        > .input-text-Up {
          width: 100%;
          height: 30%;
          display: grid;
          grid-template-columns: auto auto;
          align-content: center;
          justify-content: center;
          align-items: center;
          gap: 20px;
          > .type-Up {
            width: 300px;
            height: 50px;
            border: none;
            outline: none;
            border-bottom: 2px solid var(--gray-color);
            border-radius: 10px;
            padding: 5px;
            transition: 0.4s ease-in-out;
            &:focus {
              border-bottom: 2px solid var(--BlueLighter-Color);
            }
          }
        }
        /* //////////////// */
        > .input-button-Up {
          width: 100%;
          height: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          * {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: Poppins;
          }
          > .Bt-send-Up {
            width: 80%;
            height: 50px;
            border: 1px solid black;
            border-radius: 10px;
            background-color: var(--black-color);
            color: var(--white-color);
            transition: 0.4s ease-in-out;
            &:hover {
              background-color: var(--whiteDark-color);
              color: var(--black-color);
            }
          }

          > .Bt-Rigister-Up {
            width: 80%;
            height: 50px;
            border: 1px solid var(--BlueLighter-Color);
            background-color: var(--whiteDark-color);
            border-radius: 10px;
            color: var(--BlueLighter-Color);
            transition: 0.4s ease-in-out;
            &:hover {
              background-color: var(--BlueLighter-Color);
              color: var(--white-color);
            }
          }
          > .txt-frogetpass-Up {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            > a {
              color: var(--BlueLighter-Color);
            }
          }
        }
      }
    }
  }
}
